body{
	font-family:'Roboto', sans-serif;

	 
}

header{
	background-color: #7AE1FF;
}

.navbar-brand{
	max-height: 50px;
}

section{
	padding: 60px 0;
}

footer{
	background-color: #f8f9fa;
	padding: 20px 0;
}

footer a{
	color: #000;
	margin: 0 10px;
    font-size: 24px;
}

footer a:hover {
    color: #007bff;
}


